{% extends 'base.html' %}
{% block title %}关于{% endblock %}
{% block body %}

 <form class="home-search">
            <div class="manual-description">
              <h3>关于</h3>
              <p class="manual-description-title">信息收集 + Web漏洞扫描</p>
              <p class="manual-description-title">使用基于Webkit的爬虫来执行，在反反爬上面下了一番功夫 </p>
              <p class="manual-description-title">项目地址：https://github.com/peicx </p>
              <p class="manual-description-title">博客：https://peicx.github.io </p>

            </div>
          </form>
<p class="home-copyright">Copyright  @Scanner </p>

{% endblock %}
