

{% extends 'base.html' %}
{% block title %}帮助{% endblock %}
{% block body %}
   <div class="home-content content-width">
       <form class="home-search">
            <div class="manual-description">
              <h3>帮助</h3>
              <p class="manual-description-title">直接在探索界面搜索，可以获得以前扫描的数据</p>
              <p class="manual-description-title">在扫描界面，可以输入域名以添加任务 </p>

            </div>
          </form>



            <p class="home-copyright">Copyright  @Scanner </p>

          </div>

{% endblock %}