
{% extends 'base.html' %}
{% block title %}帮助{% endblock %}
{% block body %}
    <div class="home-content content-width">
            <form class="home-search">
              <img class="home-logo" src="/static/images/zoomeye_v4.e3193c53.svg" alt="">
              <input class="home-search-input" id="searchInput" autocomplete="off">
              <img class="home-search-icon" src="static/images/scan.svg" alt="search">

          </form>

          <p class="home-tip"><span>输入域名开始执行扫描任务</span></p>

            <p class="home-copyright">Copyright  @Scanner </p>

          </div>

{% endblock %}